body {
	text-align:center;
	margin:0;
	padding:0;
	font-family:Verdana,sans-serif;
	background-image:url(oqlt-logo-watermark.png);
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed
}
.box_main {
	position:relative;
	text-align:left;
	width:720px;
	margin:0 auto;
	padding: 0 15px 0 15px;
} 
.box_side {
	position:relative;
	float:right;
	width:333px;
	margin: 0px 0px 15px 15px;
}
.box_info {
	border:1px dashed black;
	padding:0px 15px 0px 15px;
	margin:15px 0px 0px 0px;
}
#box_popup a.popup { text-decoration:none; }
#box_popup a:hover { text-decoration:none; color:black; }
#box_popup a.popup span { display:none; }
#box_popup a:hover span {
	position:absolute; top:0px; left:0px; z-index:3;
	display:block;
	width:301px;
	height:301px;
	background:#ffffff;
	border:1px solid black;
	padding:15px;
}
h3 {
	border-top: solid 4px #ccc;
	padding-top:0.5em;
	margin:1em 0 0.5em 0;
	overflow:hidden;
}
h4 {
	margin:1em 0 0.5em ;
}
p, ul, dl {
	line-height:1.4em;
	margin: 0.5em 0 0.5em 0;
}
dt {
	margin-top:  1em;
	font-weight: bold;
}
dd {
	margin: 0.3em 0 0 1.5em;
}
pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.note { font-size:smaller; }
.event_badge h3 {
	display:none;
}
.event_badge .dtstart {
	border:none;
}
.event_badge .title {
	display:inline;
	padding-left:1em;
	font-style:italic;
}
.event_badge .more {
	display:none;
}
